{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    {% for item in items %}
        <a href="{% url 'item' item.id %}"><h3>{{ item.title }}</h3></a>
        {% if item.image %}
            <a href="{% url 'item' item.id %}"><img src={{item.image}} height="200px"></a>
        {% endif %}
        <a href="{% url 'item' item.id %}"><h4> ${{ item.current_price }}</h4></a>
        <p>{{item.description}}</p>

    {% empty %}
        <li>You are not watching any auctions at this time.</li>
    {% endfor %}

{% endblock %}