{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table>
        <tr>
            <th>
                Bought/Sold
            </th>
            <th>
                Stock
            </th>
            <th>
                Shares
            </th>
            <th>
                Price per share
            </th>
            <th>
                Timestamp
            </th>
        {%for item in data%}
            <tr>
                <td>
                    {{ item['action'] }}
                </td>
                <td>
                    {{ item['symbol'] }}
                </td>
                <td>
                    {{ item['shares'] }}
                </td>
                <td>
                    {{ item['cost'] }}
                </td>
                <td>
                    {{ item['time'] }}
                </td>
            </tr>
        {%endfor%}
    </table>

{% endblock %}