{% extends "network/layout.html" %}

{% block body %}

{% endblock %}

{% block script %}
    <script>
        
        
        function load_posts() {
            document.querySelector('#posts').innerHTML = '';

            fetch('/posts/following')
            .then(response => response.json())
            .then(data => {
                var posts = data[0];
                var liked = data[1];
                var finish = 10;
                if (finish >= posts.length) {
                    finish = posts.length;
                    document.querySelector('#next').disabled = true;
                }
                for (i = 0; i < finish; i++) {
                generate_div(posts[i], liked[i]);
                }
                for (i = 0; i < posts.length; i++) {
                public_posts[public_posts.length] = posts[i];
                }
            
            })
                
            .catch(error => {
            console.log('Error:', error);
            });
        }
    </script>
{% endblock %}