{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Writers' Resources{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'website/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Writers' Resources</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.pen_name }}</strong></a>
                    </li>
                    {% if user.connections_count > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_connections' %}" id="connection_count">My Connections</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_connection_requests' %}" id="request_count">Connection Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'find_connections' %}">Find New Connections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    {% block script %}
    {% endblock %}
    <script src="{% static 'website/website.js' %}"></script>
</html>